body {
  background: url('../../../../public/assets/images/homepage-hero-bg.png') center top / contain repeat-x rgb(34, 34, 34);
  min-height: calc(100vh - 16px);
  margin: 0px;
}

.layout {
  position: relative;
}
